* {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0; 
    padding: 0;
}

main {
    display: block;
    background-color: #F0FFFF;
}

header  { 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #F0FFFF;
    }

header a {
    padding-left: 5px;
}

ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

h1 {
    color: black; 
}

h2 {
    border-right: 5px solid black;
    margin: 50px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
    
}

p {
    display: flex;
    justify-content: end;
}

a {
    color: black;
}

nav {
    display: flex;
    align-items: center;
    color: azure;
}

section {
    display: flex;
    
}

/* This is the start of the code for the section of the website right below the header */
.hero{
    position: relative;
}

.hero img {
    width: 100%;
    height: 200px;
} 

.hero h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}

/* This is the start of the code for the "About Me" section of the website. */
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-text {
    margin-left: 5vw;
}

#about-p {
    display: flex;
}

/* This is the start of the code for the "Work" section of the website. */
#work {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-text {
    margin-left: 5vw;
}

.websites {
    display: flex;
    flex-flow: column wrap;
}

.card {
    display: flex;
    justify-content: start;
    align-items: center;
}

#demo-site-label {
    position: relative;
    right: 402.8px;
    bottom: -94px;
    background-color: #F0FFFF;
    user-select: none;
}

#placeholder1-label {
    position: relative;
    right: 402.8px;
    bottom: -94px;
    background-color: #F0FFFF;
    user-select: none;
}

#placeholder2-label {
    position: relative;
    right: 402.8px;
    bottom: -94px;
    background-color: #F0FFFF;
    user-select: none;
}

#placeholder3-label {
    position: relative;
    right: 402.8px;
    bottom: -94px;
    background-color: #F0FFFF;
    user-select: none;
}

.card img {
    border: 3px solid black;
    width: 400px;
}

/* This is the start of the code for the "Contact Me" section of the website. */
#contact {
    display: flex;
    align-items: center;
}

#contact a {
    padding: 5px;
}

.contact-text {
    margin-left: 5vw;
}

